/* Home.css */

.home-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.home-header {
  background: linear-gradient(to right, #00e99a, #00c3ce, #00abee);
  color: rgb(3, 3, 3);
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-style: normal;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 50px;
}

.menu-icon img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu-options.show-menu {
  right: 0;
}

.menu-options a {
  padding: 20px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: color 0.3s;
}

.menu-options a:hover {
  color: #f1f1f1;
}

.menu-options .close-icon {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

.menu-options .close-icon img {
  height: 30px;
  width: 30px;
}

.services {
  margin: 20px 0;
}

.services-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn {
  display: none;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #333;
}

.card:hover .copy,
.card:hover .btn {
  display: block;
}

.about {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.appointment {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}

.contact {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.menu-options {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-options.show-menu {
  transform: translateY(0);
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.navigation.hidden {
  top: -60px; /* Adjust according to your navigation bar height */
}
.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 10px 0;
  margin: 20px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation ul li {
  margin: 0 10px;
  position: relative;
}

.navigation ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navigation ul li a:hover {
  background-color: #333;
  color: white;
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease-out, left 0.3s ease-out;
}

.navigation ul li.active .underline {
  width: 100%;
  left: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

.about {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-text {
  width: 50%;
  text-align: left;
  padding: 0 20px;
  font-family: 'Playwrite GB S', sans-serif;
}

.about-image {
  width: 40%;
}

.about-image img {
  max-width: 200%;
  height: auto;
}

.about h2 {
  margin-bottom: 69px;
  font-size: 50px;
}

.heads {
  font-family: 'Playwrite GB S', sans-serif;
  margin-bottom: 80px;
  margin-top: 80px;
  font-size: 50px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .home-header {
    padding: 5px;
  }

  .header-content {
    /* flex-direction: column;   */
    align-items: flex-start;
  }

  .logo {
    height: 40px;
  }

  .menu-icon img {
    height: 25px;
    width: 25px;
  }

  .services-list {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1rem;
  }

  .about-text {
    width: 90%;
    text-align: center;
    padding: 10px;
  }

  .about-image {
    width: 80%;
  }

  .about h2, .heads {
    font-size: 36px;
  }

  .menu-options {
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
  }

  .menu-options a {
    font-size: 20px;
  }
  .about-image img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .home-header {
    font-size: 14px;
  }
  .cards-container{
    display: flex;
    justify-content: center
  }
  .navigation{
    flex-direction: column;
  }

  .logo {
    height: 30px;
  }
  .about-image img {
    max-width: 100%;
    height: auto;
  }
  .menu-icon img {
    height: 20px;
    width: 20px;
  }

  .title {
    font-size: 0.8rem;
  }

  .about h2, .heads {
    font-size: 28px;
  }

  .navigation ul li a {
    font-size: 14px;
    padding: 8px 12px;
    flex-direction: column;
  }
}
